# osTicket
# Passwords are in docker-compose.yml for simplicity
# In production, move them to .env
# osTicket Application
DB_PASS=CHANGE_ME
INSTALL_SECRET=CHANGE_ME
INSTALL_EMAIL=helpdesk@example.com
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=User
ADMIN_PASS=CHANGE_ME

# MySQL Database
# MYSQL_PASSWORD must match DB_PASS above
MYSQL_ROOT_PASSWORD=CHANGE_ME_DIFFERENT
MYSQL_DATABASE=osticket
MYSQL_USER=osticket
MYSQL_PASSWORD=CHANGE_ME
