# Diun
# Configuration is in diun.yml
# Diun Telegram notifications
# Get the token from @BotFather on Telegram
DIUN_TELEGRAM_TOKEN=CHANGE_ME
# Get your chat ID from @userinfobot on Telegram
DIUN_TELEGRAM_CHATID=CHANGE_ME
